#langsmith tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY='YOUR_LANGSMITH_API_KEY'
LANGCHAIN_PROJECT='YOUR_PROJECT_NAME'

#Hugging Face keys
HUGGINGFACEHUB_API_KEY="YOUR_HUGGINGFACE_API_KEY"